*{
    margin: 0;
    padding: 0;
    border: none;
}
html{
    font-size: 10px;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container{
    background-color:white;
    height: 75%;
    width: 70%;
    border-radius: 1.5rem;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
    display: flex;
}
.left-side{
    width: 45%;
    background-color: #fb743e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem; 
}
.left-side-content{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.left-side-content h1{
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}
.left-side-content p{
    font-size: 1.5rem;
}
.left-side-btn{
    text-decoration: none;
    padding: 1.2rem 4rem;
    border: 1px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    transition: all .5s;
}
.left-side-btn:hover{
    color: #fb743e;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
    background-color: #fff;
}
.right-side{
    width: 55%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: #383e56;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side-content{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.right-side-content h1{
    font-size: 4rem;
    letter-spacing: .4rem;
}
.right-side-content .links{
    font-size: 3rem;
}
.right-side-content .links i{
    margin: 0 1rem;
    cursor: pointer;
}
.right-side-content p{
    font-size: 2rem;
}
.sign-up-form {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .form-group {
    position: relative;
  }
  .form-input {
    width: 250px;
    background-color: #f4f8f7;
    font-size: 12px;
    font-weight: 300;
    padding: 1.4rem 0;
    padding-left: 3rem;
    border-radius: .7rem;
  }
  
  .form-input::placeholder {
    color: #a2a2a2;
  }
  .icon-form {
    font-size: 1.5rem;
    color: #a2a2a2;
    transform: translate(0, -55%);
    position: absolute;
    left: 3%;
    top: 50%;
  }
  .btn-form {
    width: 180px;
    padding: 10px 40px;
    background-color: #fff;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #383e56;
    border:solid .2rem #383e56 ;
    cursor: pointer;
    transition: .5s;
  }
  .btn-form:hover{
      color: #fff;
      background-color: #383e56;
      border:solid .2rem #fff ;
  }
